@import '../common/variables';
@import '../common/mixins';
@import '../common/extends';
@import './common/mediaBreakpoints';

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Gilroy', sans-serif;
}

button:focus-visible,
a[href]:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible,
iframe:focus-visible,
[contenteditable]:focus-visible,
[tabindex]:not([tabindex^='-']):focus-visible {
  outline: 2px solid var(--blue_04);
}

.button {
  @include maxWidth(220px);

  display: flex;
  justify-content: center;
  border-radius: var(--radius);
  height: fit-content;
  letter-spacing: 0.04em;
  padding-block: 15px;
}

.titleFirst {
  @extend %titleFirst;
}

.titleSecond {
  @extend %titleSecond;
}

.titleThird {
  @extend %titleThird;
}

.delimetr {
  margin: 0;
  height: 1px;
  background-color: var(--white);
  opacity: 0.4;
}

@include laptop {
  .button {
    @include maxWidth(200px);

    padding-block: 11px;
  }
}

.disable-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.fadeInUp {
  opacity: 0;
  transform: translateY(-100px);
  transition: transform var(--transition-time), opacity var(--transition-time);
}

.fadeInUp.animate-open {
  opacity: 1;
  transform: translateY(0);
  transition: transform var(--transition-time), opacity var(--transition-time);
}
