@import './variables';
@import './mediaBreakpoints';

%flexColumn {
  display: flex;
  flex-direction: column;
}

%contentWidth {
  width: 100%;
  max-width: var(--contentWidth);
}

%container_940 {
  width: 100%;
  max-width: 940px;
}

%titleFirst {
  font-weight: 600;
  font-size: 54px;
  line-height: 70px;
}

@include laptop {
  %titleFirst {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
  }
}

@include mobile {
  %titleFirst {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
  }
}

%titleSecond {
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
}

@include laptop {
  %titleSecond {
    font-size: 30px;
    line-height: 40px;
  }
}

@include tablet {
  %titleSecond {
    font-size: 24px;
    line-height: 34px;
  }
}

@include mobile {
  %titleSecond {
    font-size: 20px;
    line-height: 30px;
  }
}

%titleThird {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

@include mobile {
  %titleThird {
    font-size: 18px;
    line-height: 24px;
  }
}
