$white: #ffffff;
$blue_01: #1f3f68;
$blue_01-02: rgb(31, 63, 104, 0.2);
$blue_02: #316099;
$blue_03: #356ead;
$blue_03-04: rgb(53, 110, 173, 0.4);
$blue_04: #5a98d0;
$blue_05: #98c3e8;
$red: #ff0000;
$gray-shadow: rgba(7, 5, 14, 0.92);
$shadow_1: 5px 20px 50px rgba(16, 112, 177, 0.2);
$shadow_2: 5px 10px 20px rgba(53, 110, 173, 0.2);
$shadow_3: 5px 10px 50px rgba(16, 112, 177, 0.2);
$gradient_1: linear-gradient(
  0deg,
  #98c3e8 8.84%,
  rgba(152, 195, 232, 0) 31.12%
);
$radiusRightTop: 0px 200px 0px 0px;
$radiusLeftTop: 200px 0px 0px 0px;
$radiusRightTopXL: 0px 170px 0px 0px;
$radiusLeftTopXL: 170px 0px 0px 0px;
$radiusRightTopSM: 0px 100px 0px 0px;
$radiusLeftTopSM: 100px 0px 0px 0px;
$radius: 10px;

$contentWidth: 1366px;

$breakpoint_xxl: 1365px;
$breakpoint_xl: 1024px;
$breakpoint_md: 767px;
$breakpoint_sm: 576px;

$transition-time: 300ms;
