.footer {
  margin-top: -1px;
  padding-right: 96px;
  color: $white;
  background-color: $blue_04;
}

.footer__wrapper {
  align-items: center;
  border-radius: $radiusRightTop;
  padding: 91px 0 64px;
  background-color: $blue_02;
  gap: 96px;

  @extend %flexColumn;
}

.footerUpper {
  @include maxWidth(860px);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.textInfo {
  gap: 32px;

  @extend %flexColumn;
}

.textInfo__title {
  @include maxWidth(317px);
}

.textInfo__text {
  @include maxWidth(460px);

  opacity: 0.6;
}

.footer__delimetr {
  @include maxWidth(1073px);

  margin-right: auto;
}

.footerLower {
  @include maxWidth(860px);

  gap: 64px;

  @extend %flexColumn;
}

.footerLower__inner {
  display: flex;
  width: 100%;
  gap: 97px;
}

.sectionContainer {
  display: flex;
  gap: 97px;
}

.footerLower__section {
  color: $white;
  gap: 32px;

  @extend %flexColumn;
}

.sectionTitleLink {
  @include font(20px, 30px, 500);

  display: flex;
  align-items: center;
  gap: 15px;
}

.footerLogo {
  @include size(48px, 32px);
}

.sectionTitleLink_main {
  @include font(28px, 46px, 500);
}

.sectionList {
  letter-spacing: 0.05em;
  gap: 24px;

  @extend %flexColumn;
}

.sectionList__item {
  display: flex;
  gap: 16px;
}

.footerLower__section_first {
  @include maxWidth(299px);
}

.footerLower__section_second {
  @include maxWidth(163px);
}

.footerLower__section_third {
  @include maxWidth(97px);
}

.footerLower__copyright {
  letter-spacing: 0.05em;
  opacity: 0.4;
}
