.popUp {
  @include maxWidth(300px);

  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  height: 100px;
  background-color: var(--white);
  gap: 5px;

  @extend %flexColumn;
}

.popup__message {
  font-weight: 500;
  color: var(--blue_01);
}

.popup__checkmark {
  @include size(25px, 20px);

  color: var(--blue_03);
}
