.popUp {
  @include maxWidth(300px);

  align-items: center;
  justify-content: center;
  border-radius: $radius;
  height: 100px;
  background-color: $white;
  gap: 5px;

  @extend %flexColumn;
}

.popup__message {
  font-weight: 500;
  color: $blue_01;
}

.popup__checkmark {
  @include size(25px, 20px);

  color: $blue_03;
}
