.form {
  @include size(100%, auto);

  border-radius: $radius;
  padding: 44px;
  box-shadow: $shadow_3;
  color: $blue_01;
  background-color: $white;
  gap: 70px;

  button {
    max-width: 100%;
  }

  label {
    letter-spacing: 0.04em;
    opacity: 0.8;
  }

  @extend %flexColumn;
}

.form__title {
  letter-spacing: 0.04em;
}

.containerForm {
  gap: 32px;

  @extend %flexColumn;
}

.form__controls {
  gap: 16px;

  @extend %flexColumn;
}

.controls__el {
  position: relative;
  gap: 4px;

  &::after {
    content: attr(data-error);
    position: absolute;
    bottom: -22px;
    font-size: 14px;
    color: $red;
  }

  &[data-error] .form__input,
  &[data-error] .form__textarea {
    border-color: $red;
  }

  @extend %flexColumn;
}

.form__input,
.form__textarea {
  border: 1px solid $blue_03-04;
  border-radius: $radius;
  padding: 21px;
}

.form__input {
  height: 60px;
}

.form__textarea {
  height: 144px;
}

.form__input::placeholder,
.form__textarea::placeholder {
  opacity: 0.2;
}

.form__input:focus-visible,
.form__textarea:focus-visible {
  outline: 2px solid $blue_03;
  box-shadow: $shadow_3;
}
