.clientSection {
  display: flex;
  justify-content: center;
  border-radius: var(--radiusLeftTop);
  padding: 96px 24px 125px;
  background-color: var(--blue_04);
}

.clientSection__wrapper {
  gap: 111px;

  @extend %container_940;
  @extend %flexColumn;
}

.clientSection__textInfo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: var(--white);
  gap: 48px;
}

.clientSection__title {
  @include maxWidth(223px);

  grid-column: 1 / 2;

  span {
    white-space: nowrap;
  }
}

.clientSection__text {
  @include maxWidth(540px);

  justify-self: center;
  grid-column: 2/ 5;
  opacity: 0.6;
}

.clientSection__table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.clientSection__tableElement {
  @include font(20px, 46px, 400);

  padding: 41px 45px;
  text-align: center;
  color: var(--white);

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    border-right: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
  }

  &:nth-child(4) {
    border-bottom: 1px solid var(--white);
  }

  &:nth-child(5),
  &:nth-child(6),
  &:nth-child(7) {
    border-right: 1px solid var(--white);
  }
}

.clientSection__tableElementLast {
  text-align: center;
  background-color: var(--blue_01-02);
}
