.button_primary {
  color: $white;
  background-color: $blue_04;
}

.button_primary__withShadow {
  box-shadow: $shadow_2;
}

.button_primary:hover,
.button:focus-visible {
  font-weight: 500;
  background-color: $blue_03;
}

.button:focus-visible {
  outline: 2px solid $blue_04;
}

.button:active {
  background-color: $blue_05;
}
