.button_primary {
  color: var(--white);
  background-color: var(--blue_04);
}

.button_primary__withShadow {
  box-shadow: var(--shadow_2);
}

.button_primary:hover,
.button:focus-visible {
  font-weight: 500;
  background-color: var(--blue_03);
}

.button:focus-visible {
  outline: 2px solid var(--blue_04);
}

.button:active {
  background-color: var(--blue_05);
}
