.companyActivities {
  display: flex;
  justify-content: center;
  padding-top: 192px;
  padding-bottom: 212px;
  padding-inline: 24px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @extend %container_940;
}

.companyActivities__column_left {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 150px;
}

.companyActivities__column_right {
  display: grid;
  justify-self: end;
  row-gap: 100px;
}

.companyActivities__title {
  @include maxWidth(358px);

  letter-spacing: 0.04em;
  color: $blue_02;
}

.infoCard {
  @include maxWidth(380px);

  align-items: center;
  justify-content: space-between;
  justify-self: end;
  border-radius: $radius;
  padding: 48px;
  height: 525px;
  box-shadow: $shadow_1;
  gap: 56px;

  @extend %flexColumn;
}

.pictureContainer {
  padding-right: 38px;

  .infoCard__picture {
    @include maxWidth(182px);
  }
}

.pictureContainer_right {
  padding-top: 14px;
  padding-right: 75px;
}

.infoCard__info {
  gap: 32px;

  @extend %flexColumn;
}

.infoCard__textInfo {
  letter-spacing: 0.05em;
  color: $blue_01;
  gap: 16px;

  @extend %flexColumn;
}

/* stylelint-disable property-no-unknown */
.infoCard__text {
  display: box;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.infoCard__link {
  display: flex;
  align-items: center;
  gap: 28px;

  span {
    @include font(14px, 30px, 500);

    color: $blue_04;
  }
}

.arrowRight {
  @include size(16px, 16px);
}

.infoCard_positioned {
  position: relative;
  justify-content: flex-end;

  .pictureContainer {
    position: absolute;
    top: -22px;
    padding-right: 0;

    .infoCard__picture {
      max-width: 254px;
    }
  }
}
