@include laptop {
  .companyActivities {
    padding-top: 95px;
    padding-bottom: 160px;
  }

  .companyActivities__column_right {
    justify-self: center;
  }

  .infoCard {
    @include maxWidth(340px);

    justify-self: center;
    padding: 38px;
    gap: 41px;
  }
}

@include tablet {
  .companyActivities {
    padding-top: 32px;
    padding-bottom: 80px;
  }

  .container {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .companyActivities__column_left {
    justify-content: center;
    row-gap: 32px;
  }

  .companyActivities__column_right {
    row-gap: 32px;
  }

  .companyActivities__title {
    text-align: center;
  }
}

@include mobile {
  .infoCard {
    padding: 24px;
    gap: 41px;
  }
}
